@font-face {
    font-family: "Monbaiti";
    src: url("./font/monbaiti.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Palatino";
    src: url("./font/Palatino.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Palatino", serif;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
}

body {
    padding: 0%;
    margin: 0%;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* 
    HEADER
    HEADER
*/
.header {
    background-color: #fff;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-direction: row;
}
.headerLogo {
    width: 4rem;
}
.headerLinks {
    background: rgb(128, 128, 128, 0.5);
    align-items: center;
    border-radius: 2rem;
    flex-direction: row;
}
.headerLink {
    font-size: 1.5rem;
    text-decoration: none;
    color: #a88256;
    opacity: 1;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.headerGold {
    font-size: 1.5rem;
    text-decoration: none;
    color: #a88256;
    opacity: 1;
    padding: 1rem 2rem 1rem 2rem;

    border-radius: 2rem;
    background-color: #a88256;
    color: #fff;
}

/* 
    HEADER END
    HEADER END
*/

/* 
    BESTILL DECS
    BESTILL DECS
*/
.bestillDesc {
    background: #a1a16e;
    color: #fff;
    height: 12rem;
    padding: 1rem 0rem 1rem 4rem;
}
.bestillSubTitle {
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.bestillSubBreak {
    margin: 2rem 0rem 2rem 0rem;
}

/* 
    BESTILL DECS END
    BESTILL DECS END
*/

/* 
    GJENSTANDER header
    GJENSTANDER header
*/
.gjenstanderNav {
    width: 100vw - 2rem;
    border-top: #a88256 2px solid;
    border-bottom: #a88256 2px solid;
    font-size: 1.2rem;
    padding: 1rem;
    justify-content: start;
    flex-direction: row;
}
.gjenstanderNavItem {
    text-decoration: none;
    color: #000000;
    margin-right: 3rem;
    font-weight: 100;
    padding: 1.2rem 1.8rem 1.2rem 1.8rem;
    border-radius: 2rem;
}
.gjenstanderNavItemSelect {
    background-color: #a88256;
    color: #ffffff;
}

/* 
    Gjenstander body
    Gjenstander body
*/

.listings {
    font-size: 1rem;
    font-weight: 100;
    padding-top: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}
.kategori {
    border: solid 1px #000000;
    width: 25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0rem 2rem 5rem 2rem;
}
.gjenstander {
    margin: 1rem;
    padding: 1rem;
    border: solid 1px #000000;
    border-radius: 1rem;
    width: 80%;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
}
.katTitle {
    width: 90%;
    border-bottom: 1px #000000 solid;
    font-family: "Monbaiti";
    text-align: center;
    font-weight: 100;
}
.gjenstandBilde {
    height: 7rem;
}
.gjenstandNavn {
    font-size: 2.5rem;
    margin: 1rem;
}


/* 
    Gjenstander body stop
    Gjenstander body stop
*/

/* 
    POP UP START    
    POP UP START
*/


.popUpDialog{
    position: fixed;
    margin-top: 5%;
    width: 50rem;
    padding: 2rem;
    border: solid 1px #333539;
    outline: none;
}
.DialogTitle{
    color: #a88256;
    font-size: 3rem;
    margin-top: 0rem;
}
.tjeneste{
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0%;
    margin: .4rem;
}

.tjenesterTitle{
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem 0rem 1rem 0rem;
}
.tjenesterCheck{
    width: 1.6rem;
    height: 1.6rem;
    
}
.tjenesteDesc{
    font-size: 1.6rem;
    padding: 0%;
    margin: 0%;
}
.kommentarTitle{
    color: #a88256;
    font-size: 2rem;
    font-weight: 100;
}
.kommentarText{
    width: 48.4rem;
    margin: 0%;
    height: 5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: .8rem;
}
.antallText{
    margin-top: 1rem;
    font-size: 2rem;
    color: #a88256;
    font-weight: 100;
}
.antall{
    height: 4rem;
    width: 12rem;
    border: solid 1px #333539;
    flex-direction: row;
}
.numberValue{
    border: none;
    outline: none; 
    font-size: 2rem;
    width: 4rem;
    text-align: center;
}

.plusMinus{
    background: none;
    font-size: 2rem;
    width: 4rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.numberValue::-webkit-outer-spin-button,
.numberValue::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cartDiv{
    margin-top: 4rem;
    border-top: solid 1px #000000;
    padding-top: 1rem;
}
.setIKurv{
    background-color: #a88256;
    color: #fff;
    border: solid 1px #333539;
    height: 3rem;
    font-size: 1rem;
    width: 50rem;
}